<div class="table-container">
  <table class="passenger-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Survived</th>
        <th>Class</th>
        <th>
          <app-passenger-name-header> </app-passenger-name-header>
        </th>
        <th>Sex</th>
        <th>Age</th>
        <th>SibSp</th>
        <th>Parch</th>
        <th>Ticket</th>
        <th>Fare</th>
        <th>Cabin</th>
        <th>Embarked</th>
      </tr>
    </thead>
    <tbody>
      <tr
        app-passenger-row
        *ngFor="let passenger of passengers"
        [passenger]="passenger"
        [routerLink]="['/passenger', passenger.passengerId]"
      ></tr>
    </tbody>
  </table>
</div>

<app-passenger-table-navigation></app-passenger-table-navigation>
