.table-container {
  max-height: calc(100vh - 230px);
  overflow-y: auto;
  border-bottom: 2px solid #000000;
}

.passenger-table {
  width: 100%;
  border: 2px solid #000000;
  border-collapse: collapse;

  tr {
    border: 1px solid #000000;
    text-align: left;
  }

  th {
    position: sticky;
    top: -5px;
    background-color: #062e5b;
    color: #ffffff;
    padding: 12px;
    text-align: left;
  }

  th:nth-child(1) {
    width: var(--col-id-width);
  }
  th:nth-child(2) {
    width: var(--col-survived-width);
  }
  th:nth-child(3) {
    width: var(--col-pclass-width);
  }
  th:nth-child(4) {
    width: var(--col-name-width);
  }
  th:nth-child(5) {
    width: var(--col-sex-width);
  }
  th:nth-child(6) {
    width: var(--col-age-width);
  }
  th:nth-child(7) {
    width: var(--col-sibsp-width);
  }
  th:nth-child(8) {
    width: var(--col-parch-width);
  }
  th:nth-child(9) {
    width: var(--col-ticket-width);
  }
  th:nth-child(10) {
    width: var(--col-fare-width);
  }
  th:nth-child(11) {
    width: var(--col-cabin-width);
  }
  th:nth-child(12) {
    width: var(--col-embarked-width);
  }
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  padding: 10px;

  button {
    padding: 8px 16px;
    background-color: #062e5b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
