td {
  border: 1px solid #000000;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

:host {
  cursor: pointer;
  transition: background-color 0.2s;
  display: table-row;
}

:host:hover {
  background-color: #e0e0e0;
}
